@model IEnumerable<UniversityDapper.Models.Faculty>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Facultades</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nueva Facultad</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @TempData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table table-bordered table-striped table-responsive mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Facultad
            </th>
            <th>
                Universidad
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                @item.University?.UniversityName
            </td>
                <td>
                    <a asp-controller="Faculty"
                       asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-warning">
                        Editar
                    </a>
                    <a asp-controller="Faculty"
                       asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
